<header class="chapter-header w-100">
  <div class="header-container header-box">
    <div class="row">
      <div class="col-lg-6">
        <dl class="row mb-0">
          <div class="col-sm-4 text-sm-right"><dt>Chapter:</dt> </div>
          <div class="col-sm-8 text-sm-left"><dd class="mb-1"><span class="label label-primary">Form Actions</span></dd></div>
        </dl>
      </div>
      <div class="col-lg-6" id="cluster_info">
        <dl class="row mb-0">
          <div class="col-sm-4 text-sm-right">
            <dt>Status:</dt>
          </div>
          <div class="col-sm-8 text-sm-left">
            <dd class="mb-1">60%</dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <dl class="row mb-0">
          <div class="col-sm-2 text-sm-right">
            <dt>Completed:</dt>
          </div>
          <div class="col-sm-10 text-sm-left">
            <dd>
              <div class="progress m-b-1">
                <div style="width: 60%;" class="progress-bar progress-bar-striped progress-bar-animated"></div>
              </div>
              <small>Chapter completed <strong>60%</strong></small>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</header>
<ngb-tabset justify="fill">
  <ngb-tab title="Theory">
    <ng-template ngbTabContent>
     <!-- Chapter theory component -->
    <app-chapter-theory></app-chapter-theory>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Task">
    <ng-template ngbTabContent>
      <!-- chapter task component -->
      <app-chapter-task></app-chapter-task>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

