<div class="task-container">
    <div id="ui-card" >
    
        <div class="ui-card-box">
                
            <div class="ui-card-box--user_avatar">
                </div>
                
                <div class="ui-card-box--title">
                <h1>Àdams, Let's do our best for happiness.</h1>
                </div>
                
                <div class="ui-card-box--text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                </div>
                
                <div class="ui-card-box--hash">
                    <span>happy</span>
                    <span>smile</span>
                    <span>lorem ipsum</span>
                </div>
                
                </div>
                
    </div>
    <div id="ui-card" >
    
            <div class="ui-card-box">
                    
                <div class="ui-card-box--user_avatar">
                    </div>
                    
                    <div class="ui-card-box--title">
                    <h1>Àdams, Let's do our best for happiness.</h1>
                    </div>
                    
                    <div class="ui-card-box--text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                    
                    <div class="ui-card-box--hash">
                        <span>happy</span>
                        <span>smile</span>
                        <span>lorem ipsum</span>
                    </div>
                    
                    </div>
                    
        </div>
        <div id="ui-card" >
    
                <div class="ui-card-box">
                        
                    <div class="ui-card-box--user_avatar">
                        </div>
                        
                        <div class="ui-card-box--title">
                        <h1>Àdams, Let's do our best for happiness.</h1>
                        </div>
                        
                        <div class="ui-card-box--text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                        </div>
                        
                        <div class="ui-card-box--hash">
                            <span>happy</span>
                            <span>smile</span>
                            <span>lorem ipsum</span>
                        </div>
                        
                        </div>
                        
            </div>
            <div id="ui-card" >
    
                    <div class="ui-card-box">
                            
                        <div class="ui-card-box--user_avatar">
                            </div>
                            
                            <div class="ui-card-box--title">
                            <h1>Àdams, Let's do our best for happiness.</h1>
                            </div>
                            
                            <div class="ui-card-box--text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                            </div>
                            
                            <div class="ui-card-box--hash">
                                <span>happy</span>
                                <span>smile</span>
                                <span>lorem ipsum</span>
                            </div>
                            
                            </div>
                            
                </div>
</div>