<div class="task-container">
    <!-- <div id="ui-card" >
    
        <div class="ui-card-box">

            <div class="ui-card-box--user_avatar">
                </div>

                <div class="ui-card-box--title">
                <h1>{{task.question}}</h1>
                </div>

                <div class="ui-card-box--text">
                <p>{{task.description}}</p>
                </div>

                <div class="ui-card-box--hash">
                    <span>Submit</span>
                </div>

                </div>
                
    </div>  -->
    <div >
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="Tempp" [closeOthers]="true">
            <ngb-panel [id]="task.id" *ngFor="let task of tasks">
               <ng-template ngbPanelHeader >
                  <div  (click)="acc.toggle(task.id)" class="d-flex align-items-center justify-content-between ">
                     <h5 class="m-0">{{task.question}}</h5>
                       <span  class="p-0" [ngClass]="task.status === 'Completed' ? 'status completed ' : 'status inprogress'">{{task.status}}</span>
                  </div>
                  <span class="marks" style="position: relative; top: 5px; background: #ccc; padding: 4px; border-radius: 5px; font-size: 13px;">Marks : {{task.marks}}</span>
                </ng-template>
                <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>