<div class="task-container">
    <div class ="ui-card" *ngFor="let task of tasks">

        <div class="ui-card-box">

            <div class="ui-card-box--user_avatar">
                </div>

                <div class="ui-card-box--title">
                <h1>{{task.question}}</h1>
                </div>

                <div class="ui-card-box--text">
                <p>{{task.description}}</p>
                </div>

                <div class="ui-card-box--hash">
                    <span>Submit</span>
                </div>

                </div>

    </div>
</div>